<!DOCTYPE html>acc
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Logged in</title>
</head>
<body>

<div>
    <p>i session</p>
</div>


<div>Add litter
    <form method="post" action="/register">
        <div>
            <p>Username: </p>
            <input type="text" name="username"/>
        </div>
        <p>E-mail: </p>
        <div>
            <input type="text" name="email"/>
        </div>
        <div>
            <p>Password: </p>
            <input type="password" name="password"/>
        </div>

        <button type="submit">Register</button>
    </form>
</div>


</body>
</html>