<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Puppies</title>
</head>
<body>

<div>
    <h3 th:text="'Welcome ' + ${session.user} + '!'"></h3>
    <h3 th:text="'Your userId is ' + ${session.userId} + '!'"></h3>
    <h3 th:text="'LitterId is ' + ${session.litterId} + '!'"></h3>
</div>

<table>
    <tr th:each="puppy : ${puppyList}">
        <td th:text="${puppy.puppyName}"/>
        <td th:text="${puppy.puppyGender}"/>
    </tr>
</table>

<div>Add puppy
    <form method="post" action="/puppy">
        <div>
            <p>Puppy name: </p>
            <input type="text" name="puppyName" placeholder="Pizzie"/>
        </div>
        <div>
            <input type="text" name="gender" placeholder="female"/>
        </div>
        <div>
            <input type="hidden" name="litterId" th:value="${session.litterId}"/>
        </div>

        <button type="submit">add puppy</button>
    </form>
</div>

</body>
</html>